body{
    background-color: pink;
    background-image: url();
    font-family:'Public Sans', sans-serif;
}
.main-header{
    text-align: center;
    margin-top: 66px;
    font-size: 70px;
    color: #FEE5E5
}
.background{
    background-color: white;
    width: 50vw;
    height: 30vw;
    border-radius: 30px;
    margin: 0 auto
}

.img{
    width: 50vw;
    height: auto;
    margin:0 auto   
}
.food-title{
    color: black;
    text-align: left;
    padding-top: 1px;
    padding-left: 30px;
    font-size: 50px;
}
.description{
    font-family: 'Crimson Text', serif;
    text-align:left;
    padding-left: 30px
    
}
h3{
    font-family: 'Public Sans', sans-serif;
}
